/**
 * FULLSCREEN IMAGE COMPONENT
 * ============================================================================
 *
 * The fullscreen component uses a background image covering the full viewport
 * height. There's an optional nested layer '.fullscreen-img__overlay' to use
 * for adding text, logos or whole grids ontop a full screen image.
 *
 * However, be sure to notice that overflow is hidden. So be spare with content
 * ontop of the image.
 */

.fullscreen-img {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
}

  .fullscreen-img__overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
